
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Music.cshtml";
}

<h1>@ViewData["Name"]</h1>
<h1>@ViewData["Email"]</h1>
<h1>@ViewData["Subject"]</h1>
<h1>@ViewData["Body"]</h1>

