
@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout_Music.cshtml";
}

<h1>Index</h1>

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section equal-height-wrap full-width " style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix" style="height:545px;padding:140px 5% 90px; background-image:url(~/Music/images/home_music_wrapbg1.jpg); background-repeat:no-repeat; background-position:center top;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <a href="~/Music/our-tracks.html">
                                                <div class="mask"></div><img class="scale-with-grid" src="~/Music/images/home_music_hoverbox1.png" alt="home_music_hoverbox1" width="100" height="100" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/Music/our-tracks.html" class="link"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix" style="height:545px;padding:140px 5% 90px; background-image:url(~/Music/images/home_music_wrapbg2.jpg); background-repeat:no-repeat; background-position:center top;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h5 style="color: #f8f7ef;">New singiel: <i>March 2016</i></h5>
                                        <h1 style="color: #f8f7ef;">
                                            Ancient Noises
                                            <br>
                                            of Athandar
                                        </h1>
                                        <hr class="no_line" style="margin: 0 auto 40px;" />
                                        <a class="button  button_large button_theme button_js" href="~/Music/our-tracks.html"><span class="button_label">View more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section no-margin-h no-margin-v full-width " style="padding-top:0px; padding-bottom:0px; background-color:#190d3e">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-fourth column_image ">
                                    <div class="image_frame image_item scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <a href="~/Music/images/home_music_gallery1.jpg" rel="prettyphoto">
                                                <div class="mask"></div><img class="scale-with-grid" src="~/Music/images/home_music_gallery1.jpg" alt="home_music_gallery1" width="770" height="880" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/Music/images/home_music_gallery1.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_image ">
                                    <div class="image_frame image_item scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <a href="~/Music/about-us.html">
                                                <div class="mask"></div><img class="scale-with-grid" src="~/Music/images/home_music_gallery2.jpg" alt="home_music_gallery2" width="770" height="880" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/Music/about-us.html" class="link"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_image ">
                                    <div class="image_frame image_item scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <a href="~/Music/images/home_music_gallery3.jpg" rel="prettyphoto">
                                                <div class="mask"></div><img class="scale-with-grid" src="~/Music/images/home_music_gallery3.jpg" alt="home_music_gallery3" width="770" height="880" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/Music/images/home_music_gallery3.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_image ">
                                    <div class="image_frame image_item scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <a href="~/Music/images/home_music_gallery4.jpg" rel="prettyphoto">
                                                <div class="mask"></div><img class="scale-with-grid" src="~/Music/images/home_music_gallery4.jpg" alt="home_music_gallery4" width="770" height="880" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/Music/images/home_music_gallery4.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:120px; padding-bottom:80px;" data-parallax="3d">
                    <img class="mfn-parallax" src="~/Music/images/home_music_sectionbg1.png" alt="parallax background" />
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2>Music gives soul to the universe, wings to the mind, flight to the imagination, and charm to life and to everything.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:120px; padding-bottom:80px; background-color:#fefcea" data-parallax="3d">
                    <img class="mfn-parallax" src="~/Music/images/home_music_sectionbg2.jpg" alt="parallax background" />
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2>Come and see our studio</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_list ">
                                    <div class="list_item lists_2 clearfix">
                                        <div class="list_left list_image">
                                            <img src="~/Music/images/home_music_list_icon2.png" class="scale-with-grid" alt="home_music_list_icon2" width="110" height="110" />
                                        </div>
                                        <div class="list_right">
                                            <h4>Curabitur ultrices posuere</h4>
                                            <div class="desc">
                                                Aliquam finibus ultrices maximus. Nulla sed vehicula magna, ut tincidunt turpis. Sed eu pharetra justo. Nam dictum augue dolor, in pellentesque erat massa nunc. Phasellus ornare ipsum justo, eget pulvinar.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_list ">
                                    <div class="list_item lists_2 clearfix">
                                        <div class="list_left list_image">
                                            <img src="~/Music/images/home_music_list_icon1.png" class="scale-with-grid" alt="home_music_list_icon1" width="110" height="110" />
                                        </div>
                                        <div class="list_right">
                                            <h4>Nam congue in erat posuere</h4>
                                            <div class="desc">
                                                Nunc volutpat nibh sit amet elit tincidunt blandit. Phasellus vel ligula egestas, facilisis felis sit amet, scelerisque lorem. Etiam eget mi faucibus cras amet. Cras ut tincidunt sapien, et pulvinar quam.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_list ">
                                    <div class="list_item lists_2 clearfix">
                                        <div class="list_left list_image">
                                            <img src="~/Music/images/home_music_list_icon3.png" class="scale-with-grid" alt="home_music_list_icon3" width="110" height="110" />
                                        </div>
                                        <div class="list_right">
                                            <h4>Mauris in pretium volutpat</h4>
                                            <div class="desc">
                                                Morbi in tortor posuere, fermentum mauris in, euismod eros. Sed accumsan ultrices nibh, interdum ornare neque faucibus eget. Aenean nec purus fringilla posuere. Maecenas sagittis dui vitae porttitor cras amet.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:120px; padding-bottom:80px; background-color:#482db6; background-image:url(~/Music/images/home_music_sectionbg3.jpg); background-repeat:no-repeat; background-position:center bottom;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2 style="color: #fff;">
                                            Meet our band
                                            <br>
                                            The musicians who truly love music
                                        </h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr" style=" padding:0 5% 0 0;">
                                        <h3 style="color: #f8f7ef;">
                                            Mark
                                            <br>
                                            Trevorpen
                                        </h3>
                                        <h5 style="color: #f8f7ef;">Born: <i>1-12-1983</i></h5>
                                        <p style="color: #E2DBF8;">
                                            Cras non imperdiet purus. Etiam nec eros in orci gravida auctor quis ac nunc. Donec quis sodales leo phasellus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr" style=" padding:0 5% 0 0;">
                                        <h3 style="color: #f8f7ef;">
                                            Joana
                                            <br>
                                            Jameson
                                        </h3>
                                        <h5 style="color: #f8f7ef;">Born: <i>02-02-1993</i></h5>
                                        <p style="color: #E2DBF8;">
                                            Integer a eleifend lectus, a scelerisque metus. Phasellus venenatis neque in enim porta feugiat. Etiam porta viverra semper.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr" style=" padding:0 5% 0 0;">
                                        <h3 style="color: #f8f7ef;">
                                            Nicole
                                            <br>
                                            Abeghinton
                                        </h3>
                                        <h5 style="color: #f8f7ef;">Born: <i>08-11-1989</i></h5>
                                        <p style="color: #E2DBF8;">
                                            In finibus, orci eu ultrices tincidunt, nunc mi tincidunt magna, a luctus nulla diam quis justo. Nullam in dolor non.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr" style=" padding:0 5% 0 0;">
                                        <h3 style="color: #f8f7ef;">
                                            Max
                                            <br>
                                            Borovsky
                                        </h3>
                                        <h5 style="color: #f8f7ef;">Born: <i>04-06-1982</i></h5>
                                        <p style="color: #E2DBF8;">
                                            Nulla enim nunc, blandit sit amet leo non, auctor facilisis lacus. Lorem ipsum dolor sit amet, consectetur adipiscing.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


